-var hdnText ='';
-var arrDisplayShows = [];
ul(id="ulShows" class="row list-unstyled")
  -for(var i=0; i < shows.length; i++)
    -var index = arrDisplayShows.findIndex(x => x === shows[i].show_id);  
    -if(shows[i].top == 1 && index == -1){
      -arrDisplayShows.push(shows[i].show_id);    
      li(id="liMainShowID_#{shows[i].show_id}" showCode="#{shows[i].show_code}"  class="col-sm-3" style="height: 285px; border: solid 0px red; cursor: pointer;")
        div
          div(class="text-left")            
            a(href="#" type_id="#{shows[i].type_id}" style="background: #{shows[i].type_color};" class="top-category-of-event") #{shows[i].type_name}
          div(class="thumbnail")
            //- -var arrImageName = shows[i].main_image.split('/');
            //- -var imageName = arrImageName[arrImageName.length - 1];            
            //- img(src="/images/shows/opt/#{imageName}", alt="#{shows[i].announce}", style="width: 198px; height: 110px;")

            -if(shows[i].resource == 'bravo'){                                       
              img(id="imgShowMain_#{shows[i].show_id}" src="http://kaccabravo.co.il#{shows[i].main_image}", alt="#{shows[i].announce}", style="width: 198px; height: 110px;" onerror="handleImageError(this);")
            -}  
            -else {                                   
              img(id="imgShowMain_#{shows[i].show_id}" src="http://biletru.co.il#{shows[i].main_image}", alt="#{shows[i].announce}", style="width: 198px; height: 110px;" onerror="handleImageError(this);" )
            -}
            div(class="caption" style="padding:0px;")
              a(href="http://www.bilety.co.il/?show=#{shows[i].show_code}" style="display:none;")
              -var name = '';
              -if(shows[i].name.length > 50){
                -var n = shows[i].name.substr(0, 50);
                -var name = n.substr(0, n.lastIndexOf(" "));                
              -}                      
              -else{
                -var name = shows[i].name;                
              -}
              h1(class="main-show-caption") #{name}

              -var dt_f = new Date(shows[i].date_from);
              -date_f = dateFormat(dt_f, "dd.mm.yyyy");
              -var dt_t = new Date(shows[i].date_to);
              -date_t = dateFormat(dt_t, "dd.mm.yyyy");
              
              -if(date_f != date_t)            
                p #{date_f} - #{date_t}
              -else
                p #{date_f}

              -if(shows[i].price_min != shows[i].price_max)
                P Цена #{shows[i].price_min}&#8362; - #{shows[i].price_max}&#8362;
              -else
                P Цена #{shows[i].price_min}&#8362;
    -}
    -else
    -{
        //-hdnText += "<h2>" + shows[i].name + "</h2> <p>" + shows[i].announce + "</p>";
    -}

//- div(id="divHiddenEvents" style="display:none;") #{hdnText}
a(id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Наверх" data-toggle="tooltip")
  span(class="glyphicon glyphicon-chevron-up")      