-var hdnText ='';
ul(id="ulShows" class="row list-unstyled")
  -for(var i=0; i< shows.length; i++)
    -if(shows[i].top == 1){    
      li(id="liMainShowID_#{shows[i].show_id}" class="col-sm-3" style="height: 285px; border: solid 0px red; cursor: pointer;")
        div
          div(class="text-left")
            -var type='', subtype='', type_id='', subtype_id='', type_color='', date_f='', date_t='';
            -for(var s = 0; s < showsSections.length; s++)        
              -if(shows[i].show_id == showsSections[s].show_id){                   
              -type = showsSections[s].type_name;
              -type_id = showsSections[s].type_id;
              -type_color = showsSections[s].color;
              -subtype = showsSections[s].subtype_name;
              -subtype_id = showsSections[s].subtype_id;                   
            -}
            a(href="#" type_id="#{type_id}" style="background: #{type_color}; color: white; margin-right: 5px; font-size: 10pt;") #{type}
            -if(subtype != 'undefined')
              a(href="#" subtype_id="#{subtype_id}" style="background: #{type_color}; color: white; font-size: 10pt;") #{subtype}
          div(class="thumbnail")
            -if(shows[i].resource == 'bravo')
              img(src="/images/shows/12942.jpg", alt="#{shows[i].announce}" style="width: 198px; height: 110px;")              
              //-img(src="http://kaccabravo.co.il#{shows[i].main_image}", alt="#{shows[i].announce}", style="width: 198px; height: 110px;")
            -else
              img(src="/images/shows/f5be89cbc39ebbcc5251086955e49c90.jpg", alt="#{shows[i].announce}" style="width: 198px; height: 110px;")              
              //-img(src="http://biletru.co.il#{shows[i].main_image}", alt="#{shows[i].announce}", style="width: 198px; height: 110px;")
            div(class="caption")
              a(href="http://www.bilety.co.il/?show=#{shows[i].show_code}" style="display:none;")
              -if(shows[i].name.length > 50){
                -var n = shows[i].name.substr(0, 50);
                -var name = n.substr(0, n.lastIndexOf(" "));
                p(style="height:54px; max-height:54px; min-height:54px;") #{name} 
              -}                      
              -else
                p(style="height:54px; max-height:54px; min-height:54px;") #{shows[i].name}

              -var dt_f = new Date(shows[i].date_from);
              -date_f = dateFormat(dt_f, "dd.mm.yyyy");
              -var dt_t = new Date(shows[i].date_to);
              -date_t = dateFormat(dt_t, "dd.mm.yyyy");
              
              -if(date_f != date_t)            
                p #{date_f} - #{date_t}
              -else
                p #{date_f}

              -if(shows[i].price_min != shows[i].price_max)
                P Цена #{shows[i].price_min}&#8362; - #{shows[i].price_max}&#8362;
              -else
                P Цена #{shows[i].price_min}&#8362;
    -}
    -else
    -{
        -hdnText += "<h2>" + shows[i].name + "</h2> <p>" + shows[i].announce + "</p>";
    -}

div(id="divHiddenEvents" style="display:none;") #{hdnText}
a(id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Наверх" data-toggle="tooltip")
  span(class="glyphicon glyphicon-chevron-up")      