extends layout

block content
  div(class="container" style="margin-bottom: 200px;")
    div(class="panel panel-default")
        div(id="divEditShowName" class="panel-heading text-center")
          h4
            -if (comments.length > 0){
               a(href="//www.bilety.co.il?show=#{comments[0].show_code}" class="a-link-general") 
                span(id="spanEditShowName") #{comments[0].show_name}
                span(style="margin-left:5px;") в Израиле 2020
            -}  
            -else{
              span(id="spanEditShowName") Комментарии для этого события в данный момент не доступны.
            -}   
            a(id="btnCommentClose" href="/" class="close" data-dismiss="modal")&times;  

        div(class="panel panel-default" style="margin-top:20px; display:block;")
          div(class="panel-heading text-center")             
            h4 Комментарии
          div(class="panel-body") 
            div(id="divEditComments" class="row")
              ul(id="ulEditComments" class="row list-unstyled" style="width: 500px; margin:auto;")
                each comment in comments                    
                  li(class="comment-li")
                    div(id="divCommentHeader" style="text-align: left; margin-bottom:5px;")
                      img(src="http://www.bilety.co.il/images/comment-avatar.jpg" style="margin-right:5px; width:42px; height:34px;")
                      span(id="spnCommentName" style="margin-right:5px;") #{comment.name}
                      span(id="spnCommentDate" style="") #{comment.publish_date}
                    div(id="divCommentBody" style="text-align: left; margin-bottom:5px;")
                      span(id="spnCommentText" style="") !{comment.text}
                    

            
                