extends layout

block content
  div(class="container")
    div(class="panel panel-default")
        div(id="divEditShowName" class="panel-heading")
          h1(style="font-size:14px;")
            span(id="spanEditShowName") #{show[0].name}
            span(style="margin-left:5px;") в Израиле 2019
            a(id="btnEditShowClose" href="/" class="close" data-dismiss="modal")&times;
        div(class="panel-body")
            div(class="col-md-12")
              -var resource = show[0].resource == "bravo" ? "http://kaccabravo.co.il" : "http://biletru.co.il";
              -var imageLink = resource + show[0].main_image;
              img(id="imgEditMain" src="#{imageLink}", style="width:350px; heigth: 270px; margin: 0 10px 10px 0;" class="pull-left")      
              p(id="pEditShowAnnounce" style='text-align: justify;') #{show[0].announce}
            div
              a(href="#{link}" targer="_blank") #{link}

        table(id="tableEditSeances" class="table" style="margin-top:20px;" border="0")
          thead
            tr(style="background-color: #f5f5f5; border-rigth:white;")
                th(class="text-center table-head-border") ГОРОД
                th(class="text-center table-head-border") ДАТА
                th(class="text-center table-head-border") МЕСТО ПРОВЕДЕНИЯ
                th(class="text-center table-head-border") ЦЕНА
                th
          tbody
            each seance in showSeances      
              tr
                td=seance.city
                td=seance.date
                td=seance.hall
                td #{seance.price_min} - #{seance.price_max} &#8362; 
                td
                  a(href="#{seance.link}" target="_blank") КУПИТь
              
        div(class="panel panel-default" style="margin-top:20px;")
            div(class="panel-heading") ФОТО - ВИДЕО
            div(class="panel-body")  
                div(id="divEditGalary" class="row")
                  -for(var i=0; i< showMedia.length; i++)
                    div(class="col-xs-6 col-md-3")
                      a(href="#" class="thumbnail")
                        -var imagePath = resource + showMedia[i].link;
                        img(img src="#{imagePath}" alt="#{show[0].name}")


        div(class="panel panel-default" style="margin-top:20px; display:block;")
          div(class="panel-heading")             
            h4 Комментарии
          div(class="panel-body")
            div(id="divEditComments" class="row")
              ul(id="ulEditComments" class="row list-unstyled" style="width: 500px; margin:auto;")
                each comment in comments                    
                  li(class="comment-li")
                    div(id="divCommentHeader" style="text-align: left; margin-bottom:5px;")
                      img(src="/images/comment-avatar.jpg" style="margin-right:5px; width:42px; height:34px;")
                      span(id="spnCommentName" style="margin-right:5px;") #{comment.name}
                      span(id="spnCommentDate" style="") #{comment.publish_date}
                    div(id="divCommentBody" style="text-align: left; margin-bottom:5px;")
                      span(id="spnCommentText" style="") #{comment.text}
                    //- div(id="divCommentFooter" style="text-align: left; margin-bottom:5px;") 
                    //-   a(id="aCommentReply") Ответить //////

            div(id="divEditCommentForm")
              ul(class="row list-unstyled" style="width: 500px; margin:auto;")
                li(style="margin-bottom:5px;")                  
                  input(id="txtCommentName" type="text" class="form-control" placeholder="Имя" required="")
                li(style="margin-bottom:5px;")
                  input(id="txtCommentEmail" type="email" name="email" class="form-control" placeholder="Email" required="")
                li(style="margin-bottom:5px;")
                  textarea(id="txtCommentText" type="text" class="form-control" cols="40" rows="5" placeholder="" required="")
                li(style="margin-bottom:5px;")
                  button(id="btnSendComment" type="button" class="btn btn-default" style="text-transform: uppercase; float: left;") отправить
                