extends layout
block content  
  div(class="container text-center")
    table(id="tblPosts" class="table text-left" border="0")      
      tbody
        each post in posts          
          -var post_date = dateFormat(new Date(post.pub_date), "dd.mm.yyyy");
          -var body = post.text.substring(0, 300);
          -body = body.substring(0, body.lastIndexOf('.') + 1);      
          tr
            td(style="margin-left:10px;")
              a(href="")
                img(src="#{post.image}", alt="#{post.name}" class="posts-main-image")
            td
              p(style='text-align: justify;') 
                span(class="glyphicon glyphicon-calendar")
                span(style="margin-left:3px;") #{post_date} 
              h4(style="margin-bottom:10px;")
                a(href="/post_edit/#{post.id}" class="a-link-general" style="text-decoration:underline; margin-bottom:10px;") #{post.name}
              p !{body}
                            
            